---
layout: layouts/property.njk
title: Adelaide Mine
meta_title: Adelaide Mine Copper Gold Mine
meta_description: "Adelaide Mine in Humboldt County, Nevada: historic skarn Cu property with gold, silver, lead, tungsten, zinc, Mindat data, and USGS MRDS record."
og_type: article
propertySlug: adelaide-mine
property: true
extra_css:
  - https://unpkg.com/leaflet@1.9.4/dist/leaflet.css
extra_js:
  - https://unpkg.com/leaflet@1.9.4/dist/leaflet.js
  - /assets/js/map-2d.js
  - /assets/js/map-3d.js
---
