---
layout: layouts/property.njk
title: Lynn Creek Placers
meta_title: Lynn Creek Placers Gold Mine
meta_description: "Lynn Creek Placers in Eureka County, Nevada: placer Au-PGE property with Mindat and USGS MRDS records, coordinates, mineralogy, and source references."
og_type: article
propertySlug: lynn-creek-placers
property: true
extra_css:
  - https://unpkg.com/leaflet@1.9.4/dist/leaflet.css
extra_js:
  - https://unpkg.com/leaflet@1.9.4/dist/leaflet.js
  - /assets/js/map-2d.js
  - /assets/js/map-3d.js
---
